<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>%PROJECT%iphonesimulator%IPHONE_SDK%</string>
	<key>CustomProperties</key>
	<dict/>
	<key>DefaultProperties</key>
	<dict>
		<key>GCC_PRODUCT_TYPE_PREPROCESSOR_DEFINITIONS</key>
		<string> __IPHONE_OS_VERSION_MIN_REQUIRED=20000</string>
		<key>GCC_VERSION</key>
		<string>4.0</string>
		<key>MACOSX_DEPLOYMENT_TARGET</key>
		<string>10.5</string>
		<key>PLATFORM_NAME</key>
		<string>iphonesimulator</string>
	</dict>
	<key>DisplayName</key>
	<string>Simulator - iPhone OS %IPHONE_SDK%</string>
	<key>DocSetFeedName</key>
	<string>Apple iPhone OS</string>
	<key>DocSetFeedURL</key>
	<string>http://developer.apple.com/rss/com.apple.adc.documentation.AppleiPhone.atom</string>
	<key>MaximumDeploymentTarget</key>
	<string>10.5</string>
	<key>MinimalDisplayName</key>
	<string>Simulator - %IPHONE_SDK%</string>
	<key>MinimumSupportedToolsVersion</key>
	<string>3.1.2</string>
	<key>Version</key>
	<string>%VERS%</string>
	<key>isBaseSDK</key>
	<string>NO</string>
</dict>
</plist>
