<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--input</key>
	<array>
		<string>../objc</string>
	</array>
	<key>--project-name</key>
	<string>SBJson</string>
    <key>--project-company</key>
    <string>Stig Brautaset</string>
    <key>--company-id</key>
    <string>org.brautaset</string>
    <key>--docset-atom-filename</key>
    <string>SBJson.atom</string>
    <key>--docset-feed-url</key>
    <string>http://sbjson.org/api/%DOCSETATOMFILENAME</string>
    <key>--docset-package-url</key>
    <string>http://sbjson.org/api/%DOCSETPACKAGEFILENAME</string>
    <key>--publish-docset</key>
    <true/>
    <key>--logformat</key>
    <string>xcode</string>
    <key>--keep-undocumented-objects</key>
    <true/>
    <key>--keep-undocumented-members</key>
    <true/>
    <key>--keep-intermediate-files</key>
    <true/>
    <key>--no-repeat-first-par</key>
    <true/>
    <key>--no-warn-invalid-crossref</key>
    <true/>
    <key>--ignore</key>
    <string>*.m</string>
    <key>--index-desc</key>
    <string>README.md</string>
</dict>
</plist>
