body {  width: 40em;
        margin: 2em;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        font-family: Verdana, Arial, sans-serif;
}
h1, h2 {
    color: darkgreen;
}
h1 {
    font-size: 1.6em;
    text-align: center;
}
h2 { font-size: 1.2em }

/* Fancy styling for the TOC */
#toc {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}
#toc ul {
    font: 0.9em Verdana, sans-serif;
    margin: 0.5em;
    padding: 0 1em;
}
#toc li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0 2px;
}

/* Links in the TOC have a different colour */
#toc a {
    color: darkgreen;
}
#toc a:hover {
    background: darkgreen;
    color: lightgreen;
}

/* Code snippets */
#toc, code, pre {
    background: lightgreen;
}
code, pre { 
    font-size: 1.14em;
}
pre {
    padding: 0.5em 1em;
}
