body {  width: 40em;
        margin: 2em;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        font-family: Verdana, Arial, sans-serif;
}
h1, h2 {
    color: #990000;
}
h1 {
    font-size: 1.6em;
    text-align: center;
}
h2 { font-size: 1.2em }
code, pre {
    font-size: 1.14em;
    background: #FFFF99;
}
pre { padding: 1em; }

a:hover { background:#999999; }
