<!DOCTYPE HTML>
<html>
  <head>
    <title>json-framework @ github.com</title>
    <style type="text/css">
      body {
        background-color: #D5D6D7;
        padding:20px;
        text-align: center;
        align: center;
      }
      #container {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 700px;
        color: #333333;
      }
      h1 { font-size: 3.8em; color: #736f30; margin-bottom: 3px; }
      h2 { font-size: 1.5em; text-align: center;}
      h3 { font-size: 1.2em; color: #111144}

    </style>
  </head>

  <body>
    <div id="container">
  {{ content }}

    </div>
  </body>
</html>